.ContactMain {
    /* width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2vw;
}

.ContactMain label {
    margin: 1vw;
}

.messageBox {
    width: 25vw;
    height: 5vw;
}